.wrapper {
    width: 600px;
    margin: 30px auto;
    padding: 40px 50px;
    border: 1px solid #dfdfdc;
    border-radius: 5px;
    }
.h1{
    text-align: center;
    }        
.a {
    background-color: #ccffff; 
    }
.b{
    background-color: #ccffcc;
    }
.c{
    background-color: #ffffcc;
    }
.d{
    background-color: #ffcc99;
    }
.e{
    background-color: #ffccff;
    }
.btnbtn{
    color: red;
        }