.wrapper {
    width: 850px;
    height: 650px;
    margin: 30px auto;
    padding: 40px 50px;
    border: 1px solid #dfdfdc;
    border-radius: 5px;
}

li {
    list-style: none;
}

.window {
    width: auto;
    height: 400px;
    border: 1px solid #dfdfdc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px
}

.title_btn {
    background-color: #ccffff;
    border-radius: 5px;
    text-align: center;
    /* max-width: 1000px; */
    /* margin: 10px; */
    margin-top: 20px;
    /* padding-left: 5px;
    padding-right: 5px; */
    /* text-indent: 1.5rem; */
    padding: 5px 10px;
}

.day_btn {
    background-color: #ccffcc;
    border-radius: 5px;
    text-align: center;
    /* max-width: 100px; */
    /* margin: 10px; */
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    /* text-indent: 1.5rem; */
}

.price_btn {
    background-color: #ffffcc;
    border-radius: 5px;
    text-align: center;
    /* max-width: 100px; */
    /* margin: 10px; */
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    /* text-indent: 1.5rem; */
}

.community_btn {
    background-color: #ffcc99;
    border-radius: 5px;
    text-align: center;
    /* max-width: 100px; */
    /* margin: 10px; */
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    /* text-indent: 1.5rem; */
}

.detail_btn{
    text-decoration: none;
    background-color: #f96262;
    border-radius: 5px;
    text-align: center;
    max-width: 100px;
    /* margin: 10px; */
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    /* text-indent: 1.5rem; */
    display: inline-block;
}

.detail_btn:hover {
    background-color: red;
}

.info {
    margin-left: 3px;
}

.row {
    background-color: #dfdfdc;
    margin-right: 0;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 650px;
    border-radius: 5px;
    border: 1px solid #dfdfdc;
}